/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display:flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content:center;
   align-content: space-around;
}

.ytv {
    flex-direction: column;
    gap:1em;
    display: flex;
    justify-content: space-between;
}
.ytv__bottom {
    display: flex;
    flex-wrap: wrap;
    gap:0.5em;
}
.ytv__left {
    display:flex;
    gap: 0.5em;
}
.ytv__right {
    display:flex;
    justify-content: space-between;
    margin-left:auto;
    gap: 0.5em;
}
.profile{
    display:flex;
    flex-wrap:wrap;
    gap: 0.5em;
}

.profile__text {
    display:flex;
    flex-direction: column;
    gap: 0.3em;
}
.icon {
    display:flex;
}
.btn--flex {
    display:flex;
}